.sidebar {
  height: 100%;
  width: 200px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 40px;
  background-color: lightblue;
  }
  
  .sidebar div {
  padding: 8px;
  font-size: 24px;
  display: block;
  }
  
  .body-text {
  margin-left: 150px;
  font-size: 18px;
  }

  .list{
    padding-left: 200px;
  }

  tr{
    border-bottom: 1px solid #ccc; 
    line-height: 1.8em;
    
  }

  img{
    height: 30px;
    width: 30px;
  }

  .first_cell{
    width: 70%; 
    font-weight: bold;
  }

  .second_cell{
    width: 20%; 
    text-align: right;
  }

  table{
    border-collapse: collapse; 
    width: 80%; margin: 1.5em; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 20px;
  }